footer.l-stack > h2 {
  margin-bottom: 0.5em;
}

.l-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.l-post-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.post-tag {
  background: var(--THEME_TAG);
  border-radius: 2px;
  border: solid 1px var(--THEME_TAG);
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.post-tag:hover,
.post-tag:focus {
  text-decoration: underline;
  border: solid 1px var(--THEME_TAG);
  background: #fff;
  text-decoration-color: var(--THEME_HIGHLIGHT);
  color: var(--THEME_COLOR);
}
