
.l-stack {
  display: block;
}

.l-stack > * + * {
  margin-top: 1rem;
}

.l-stack--large > * + * {
  margin-top: 2rem;
}

.l-stack > .h5 {
  margin-bottom: 2rem;
  color: $COLOR_MID;
  font-size: $SCALE--1;
}