$BASE_UNIT: 100px;

@font-face {
  font-family: "IKANSEEYOUALL";
  font-style: normal;
  font-weight: normal;
  src: local("IKANSEEYOUALL"),
    url("../../static/fonts/IKANSEEYOUALL.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("HKGrotesk-Medium"),
    url("../../static/fonts/HKGrotesk-Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "HKGrotesk-MediumItalic";
  font-style: italic;
  font-weight: normal;
  src: local("HKGrotesk-MediumItalic"),
    url("../../static/fonts/HKGrotesk-MediumItalic.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "HKGrotesk-Bold";
  font-style: normal;
  font-weight: bold;
  src: local("HKGrotesk-Bold"),
    url("../../static/fonts/HKGrotesk-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "HKGrotesk-BoldItalic";
  font-style: italic;
  font-weight: bold;
  src: local("HKGrotesk-BoldItalic"),
    url("../../static/fonts/HKGrotesk-BoldItalic.otf") format("opentype");
  font-display: swap;
}

$FONT_NORMAL: HKGrotesk-Medium, sans-serif;
$FONT_HEADINGS: IKANSEEYOUALL, serif;
$FONT_MONO: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

$RATIO: 1.4;

$SCALE--2: 1rem / $RATIO / $RATIO;
$SCALE--1: 1rem / $RATIO;
$SCALE-0: 1rem;
$SCALE-1: 1rem * $RATIO;
$SCALE-2: 1rem * $RATIO * $RATIO;
$SCALE-3: 1rem * $RATIO * $RATIO * $RATIO;
$SCALE-4: 1rem * $RATIO * $RATIO * $RATIO * $RATIO;
$SCALE-5: 1rem * $RATIO * $RATIO * $RATIO * $RATIO * $RATIO;

$COLOR_LIGHTER: #eaeaea;
$COLOR_LIGHT: #ccc; // Do not use for text color
$COLOR_MID: #767676; // Min contrast on white to pass WCAG2 AA
$COLOR_DARK: #333;
