$BASE_UNIT: 100px;

$FONT_NORMAL: JosefinSans-Regular, sans-serif;
$FONT_ITALIC: JosefinSans-Italic, sans-serif;
$FONT_BOLD: JosefinSans-Bold, sans-serif;
$FONT_BOLDITALIC: JosefinSans-BoldItalic, sans-serif;
$FONT_INTRO: Butler-Light, serif;
$FONT_HEADINGS: IKANSEEYOUALL, serif;
$FONT_MONO: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

$RATIO: 1.4;

$SCALE--2: 1rem / $RATIO / $RATIO;
$SCALE--1: 1rem / $RATIO;
$SCALE-0: 1rem;
$SCALE-1: 1rem * $RATIO;
$SCALE-2: 1rem * $RATIO * $RATIO;
$SCALE-3: 1rem * $RATIO * $RATIO * $RATIO;
$SCALE-4: 1rem * $RATIO * $RATIO * $RATIO * $RATIO;
$SCALE-5: 1rem * $RATIO * $RATIO * $RATIO * $RATIO * $RATIO;

$COLOR_LIGHTER: #E0FBFC;
$COLOR_LIGHT: #98C1D9; // Do not use for text color
$COLOR_MID: #3D5A80; // Min contrast on white to pass WCAG2 AA
$COLOR_DARK: #293241;
